@charset "UTF-8";

/*importação de fontes  */
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*importação de fontes  */

html {
	height:100%;
}
body{
	margin: 0px;
	background-color: #dddddd;
	color: rgba(0,0,0,1);
	font-family: 'Open Sans Regular';
	position: relative;
	min-height: 100%;
}

form table tr td:last-child{
	width:100%;
}


nav ul {
	padding: 0;
	list-style-type: none; 
	display:inline-block;
}
nav ul li {
	display: inline-block;
}

#main-nav {
	background-color: #043D00;
}

#main-nav ul {
	margin:20px 0
}

#main-nav ul li a {
	color: #fff;
	text-decoration:none;
	margin:0 10px;
}

#main-nav ul li a:hover {
	color: #F7DD86;
	transition: 0.2s ease-in-out
}
#crud-options-nav ul {
	margin: 0 0 10px 0;
}
#crud-options-nav ul li {
	transition: border 0.3s ease-in-out;
	padding:6px;
	border-bottom:2px solid #F7DD86
}

#crud-options-nav ul li:hover {
	background-color:#E7CD78;
	cursor:pointer;
	border-bottom:2px solid green;
}

#crud-options-nav .selected {
	border-bottom:2px solid green
}

#login {
	 position: relative; 
	 float:right; 
	 color: #fff;
}

#login div {
	margin:20px 0;
}

# {
	float:left;
}
#hdr-logo {
	position: absolute;
	top:0px;
	left:0px;
}
#hdr-logo a {
	background: url('../images/Cinetec logo 2.png') no-repeat; 
	width: 358px; 
	height: 168px; 
	display:inline-block; 
	text-indent: -9999px
}
#hdr-search {
	width:500px; 
	height:168px;
	top:0;
	right:0;
	opacity: 0.8;
	transition: opacity 0.5s ease-in-out;
}

#hdr-search:hover {
	opacity:1;
}
#search-form {
	display: inline-block;
	margin:8px
}

#search-form input[type="text"] {
	width:480px;
	margin:0 0 6px 0;
}

#search-form select {
	width:480px;
}

.icon-left {
	margin-right:10px;
}

.icon-right {
	margin-right:10px;
}

.icon-center {
	margin:0 10px;
}
.clear {
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
.wrapper {
	max-width:1328px;
/* 	left:50%; */
/* 	margin-left:-664px; */
/* 	position:relative; */
	margin:0 auto;
}

.relative {
	position:relative;
}

.absolute {
	position:relative;
}

.cover-box {
	background:#F7DD86;
	color: green;
	display:inline-block;
	width:300px;
	padding:10px;
	margin:4px;
	position:relative;
}

.cover-box #cover-title {
	font-weight: bold;
}

h1 {
	text-shadow: 1px 1px 1px #000;
}

#highlights {
	color: #fff;
	height:400px; 
	overflow:hidden;  
	position:relative;
	box-shadow: 1px 1px 1px #000;
}
#highlights h2,
#highlights h3,
#highlights h4 {
	font-weight: 300;
	text-shadow: 1px 1px 1px #000;
}

#highlights h2 {
	font-size:50px;
}

#highlights h3 {
	font-size:28px;
}

#highlights h4 {
	font-size:20px;
}
#highlights img {
	position:relative;
	top:-300px;
}

.cover-box #cover-title {
	margin:0 0 10px 0;
}

.cover-box #cover-content {
	margin:10px 0;
}
.cover-box:hover .cover-on-hover{
	background: #043D00;
	transition:opacity 0.2s ease-in-out;
	display:block;
	cursor: pointer;
	opacity:0.7;
}

.cover-img img {
	background-color: #ccc;
}

.cover-on-hover {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
}

.cover-on-hover div {
	margin-top:40%;
	margin-left:20%;
	font-weight:600;
	padding:20px;
}

.cover-on-hover div a {
	color: #F7DD86;
	text-decoration: none;
}

.cover-on-hover div a:hover {
	color: #FFEFBB;
}

.ico {
	font-size:30px;
	margin-right:8px;
}

#login:hover #form-login {
	top:0;
}

#form-login {
	box-shadow:1px 1px 1px #000;
	border-radius:2px;
	padding:30px;
	position: absolute;
	top: -300%;
	background-color:#13561B;
    transition:top 0.2s ease-in-out;
    right:0;
    z-index: 9999;
}

#form-login a {
	color: #fff;
	text-decoration: underline;
}

.ylw-box {
	background-color:#F7DD86;
	color:green;
	border-radius:4px; 	 
	box-shadow: 1px 1px 2px #000;
	padding:10px
}

.crud-form table tr td {
	padding:0 10px;
}

.tbl-data {
	border-spacing: 0;
	margin:20px 0;
	width:100%;
}
.tbl-data th {
	padding:4px;
	background-color:#ccc;
	color:#2F1A1A;
	text-shadow:1px 1px 1px #FFF;
}

.tbl-data th:first-child {
	border-top-left-radius: 4px;
}

.tbl-data th:last-child {
	border-top-right-radius: 4px;
}

.tbl-data td {
	text-align: center;
	background: #fff;
	padding:0 20px;
	border-right:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
	padding:4px;
}

.tbl-data tr td:first-child {
	border-left:1px solid #E0E0E0;
}

.tbl-data tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

.tbl-data tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

.tbl-data button {
	text-shadow: 1px 1px 1px #fff;
	border: 0;
	border-radius: 2px;
	padding: 7px;
	font-weight: 600;
	color: #454545;
	transition: background 0.3s ease-in-out;
	background: #ccc;
}
.tbl-data button:hover {
	text-shadow: 1px 1px 1px #fff;
	border: 0;
	border-radius: 2px;
	padding: 7px;
	font-weight: 600;
	color: #454545;
	background: #E8E8E8;
	cursor: pointer;
}

.tbl-title {
	color:#043D00;
}

.add-edit-form input[type="text"],
.add-edit-form input[type="password"],
.add-edit-form select,
.add-edit-form textarea {
	min-width:100px;
	width:100%;
}
input[type="text"], 
input[type="password"],
textarea,
select
{
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.35);
	box-sizing: border-box;
	border: 0;
	padding:4px;
	margin:2px 0;
	font-size:14px; 
}

input[type="submit"],
input[type="button"] {
	border-radius:2px;
	margin:4px 0;
	background-color: #36711D; 
	color: #fff; 
	border:0;
	padding:6px 10px;
	transition: background-color 0.5s ease-in-out;
}

input[type="submit"]:hover,
input[type="button"]:hover  {
	background-color: #438925;
}


.home-h1 {
	color: #fff;
	font-weight:normal; 
	font-size:40px;
	background-color: #29691F;
	box-shadow: 1px 1px 1px #000;
	margin: 0 0 20px 0;
}

.home-h1 a {
	color:#fff;
	text-decoration: none;
}

.hl-text {
	position: absolute; 
	bottom:0;
	left:30px;
	color:#fff;
}

#ftr {
	background: #043D00;
	color: #fff;
	text-shadow:1px 1px 1px #000;
	padding:20px 0;
    position: relative;
    bottom: 0;
    width: 100%;	
}

#filmes-list, #sessoes-list {
	margin-bottom:20px;
	
}




