
/* 
  
    Author     : Felipe
*/
body {
	background-color: whitesmoke;
	color: red;
}

div#interface {
	width: 900px;
	height: 1300px;
	background-color: white;
	margin: -20px auto 0 auto;
	box-shadow: 0px 0px 10px #FFCC33;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	padding: 10px;
}


header#cabecalho {
	
	border-bottom: 1px #FFCC33 solid;
	height: 200px;
	width: 100%;
	margin-bottom: 5px;
	background-color: white;
	
}


header#cabecalho  h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	padding: 10px;
	margin-bottom: 10px;
	
}


section#corpo {
	text-align: center;
	height: 900px;
	width: 900px;
}

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p {
	float: right;
}